@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*reset page stuff always add this*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
 font-family: roboto;
 font-size: 16px;
 line-height: 1.5;
 color:green;
 
}
/*i need to cutout the white background to put image on any color*/
img{
    max-width:100%;
}
h1, h2{
    margin-bottom:15px;
}
ul{
    list-style: none;
}
.navbar ul{
    display:flex;
}
.navbar li{
    margin-left: 20px;
}
.navbar a:hover{
    color:green;
}
.container{
    max-width:1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.navbar{
    background: orange;
    color:green;
    height:60px;
}
.logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar .container{
    display:flex;
    /*justify means move items left or right in flexbox*/
    justify-content: space-between;
    /*align items mean move top or bottom*/
    align-items: center;
    height:100%;
}
.header{
    min-height:400px;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img{
    max-width: 400px;
}
.header p{
    color:orange;
}
.header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.boxes .container{
    display:flex;
    justify-content: space-between;
}
.box{
    flex:1;
    background: green;
    color:orange;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}
.box p{
    color:white;
}
/*mobile shit*/
@media (max-width: 768px){
    .header .container {
        flex-direction: column;
        padding-top:20px;
        text-align: center;
    }
    .boxes .container{
        display: block;
        text-align:column;
    }
    .header ul{
        display:flex;
        justify-content:space-between;
        width:100%;
    }
}